<h2>Import Menu</h2>
<i>*Important: Use the same name as in the database</i>
<br><br>
<%= form_tag import_menu_path, multipart: true do %>
  <%= label_tag(:restaurant_id, "Restaurant Name: ") %>
	<%= select_tag(:restaurant_id, restaurant_options, options = { prompt: "Select a restaurant" }) %>
  <%= file_field_tag :menu_file %>
  <%= submit_tag "Import" %>
<% end %>