<h2>Edit menu</h2>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Product</th>
      <th>Product Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu.items.each do |item| %>
      <tr>
        <td><%= item.session %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant, item) %></td>
        <td><%= link_to 'Delete', [@restaurant, item], method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>