<p id="notice"><%= notice %></p>
<h1>Editing restaurant</h1>

<%= render 'edit_restaurant_form' %>

<br>
<%= render 'edit_menu_form' %>
<br>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
