<p id="notice"><%= notice %></p>
<h1>Editing restaurant</h1>

<%= render 'edit_restaurant_form' %>
<%= render 'edit_specialties_form' %>
<%= render 'edit_menu_form' %>
<br>

<%= link_to 'New', new_restaurant_menu_item_path(@restaurant) %> |
<%= link_to 'Back', restaurant_path(@restaurant) %>
