<p id="notice"><%= notice %></p>

<h1 id="restaurant_name"><%= @restaurant.name %></h1>
<p><%= @restaurant.street %>, <%= @restaurant.number.to_i.to_s %><% if @restaurant.complement %> <%= @restaurant.complement %><% end %> - <%= @restaurant.city %> - <%= @restaurant.state %> - <%= @restaurant.CEP %></p>
<p id="restaurant_email"><%= @restaurant.email %></p>
<p id="restaurant_site"><%= @restaurant.site %></p>

<h2>Menu</h2>

<% @menu_sessions.each do |session| %>
	<div class="menu_session">
		<h3 id="menu_session_title"><%= session %></h3>
		<% session_items = select_session_items(session) %>
		<% session_items.each do |item| %>
			<strong><%= item.name %></strong><br>
			<em><%= item.description %></em><br>
			<u><%= item.price %></u><br><br>
		<% end %>
	</div>
<% end %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>